.conversionsContainer .btnsContainer button{
    margin: 10px 5px 0 0;
    border-radius: 3px;
}

.conversionDetails {
    margin: 10px 0;
    display: grid;
    padding: 5px 0;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}


