* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.App {
  padding: 10px;
}

input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}