* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 43, 43);
}

div.App {
  padding: 10px;
}

input {
  width: 100%;
  padding: 20px 5px;
  outline: none;
  border: none;
  background-color: rgb(34, 33, 33);
  color: white;
  border-radius: 5px;
}

select {
  background-color: rgb(65, 63, 63);
  outline: none;
  border: none;
  color: rgb(158, 157, 157);
  padding: 7px 5px;
}

button {
  outline: none;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  background-color: rgb(54, 54, 54);
  text-align: center;
  color: rgb(177, 176, 176);
  
}

button:hover {
  background-color: rgb(65, 65, 65);
}

p {
  color: rgb(122, 111, 111);
  font-weight: bold;
  font-size: .8rem;
  text-transform: capitalize;
}

.conversionResultContainer,
.arithmeticResultContainer {
  cursor: text;
}